<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Crear Nave</title>
  </head>
<body>

  <%- include('./partials/header') %>

  <main>
    <div class="form-container">
      <form class="forms" action="/create" method="POST">
          <h2>Crear Nave</h2>
          <div>
            <label>Selecionar Categoría</label>
            <select class="form-input" name="category">
              <% categories.forEach(category => { %>
                  <option value="<%=category%>">Naves <%= category%></option>
              <%})%>
            </select>
          </div>
          <div>
            <input class="form-input" type="text" name="name" placeholder="Nombre de la Nave">
            <% if(locals.errors && errors.amount){ %>
                <div class="text-danger">
                    <%= errors.name.msg %>
                </div>
            <% } %>
          </div>
          <div>
            <input class="form-input" type="text" name="country" placeholder="País propietario">
            <% if(locals.errors && errors.amount){ %>
                <div class="text-danger">
                    <%= errors.country.msg %>
                </div>
            <% } %>
          </div>
          <div>
            <label>Año Inicio de Actividad</label>
            <input class="form-input" type="number" name="activity_start">
            <% if(locals.errors && errors.amount){ %>
                <div class="text-danger">
                    <%= errors.activity_start.msg %>
                </div>
            <% } %>
          </div>
          <div>
            <label>Año Fin de Actividad</label>
            <input class="form-input" type="number" name="activity_end">
            <% if(locals.errors && errors.amount){ %>
                <div class="text-danger">
                    <%= errors.activity_end.msg %>
                </div>
            <% } %>
          </div>
          <div>
            <input class="form-input" type="text" name="fuel" placeholder="Combustible">
            <% if(locals.errors && errors.amount){ %>
                <div class="text-danger">
                    <%= errors.fuel.msg %>
                </div>
            <% } %>
          </div>
          <div>
            <label>*Para naves lanzaderas</label>
            <input class="form-input" type="text" name="cargo" placeholder="Tipo de carga útil">
            <% if(locals.errors && errors.amount){ %>
                <div class="text-danger">
                    <%= errors.cargo.msg %>
                </div>
            <% } %>
          </div>
          <div>
            <label>*Para naves robóticas</label>
            <input class="form-input" type="text" name="research" placeholder="Área de estudio">
            <% if(locals.errors && errors.amount){ %>
                <div class="text-danger">
                    <%= errors.research.msg %>
                </div>
            <% } %>
          </div>
          <div>
            <label>*Para naves tripuladas</label>
            <input class="form-input" type="text" name="capacity" placeholder="Capacidad">
            <% if(locals.errors && errors.amount){ %>
                <div class="text-danger">
                    <%= errors.capacity.msg %>
                </div>
            <% } %>
          </div>
          <div>
            <input class="form-input" type="text" name="objective" placeholder="Objetivo">
            <% if(locals.errors && errors.amount){ %>
                <div class="text-danger">
                    <%= errors.objective.msg %>
                </div>
            <% } %>
          </div>
          
        <button type="reset">Limpiar</button>
        <button type="submit">Agregar</button>
      </form>
    </div>
  </main>

  <%- include('./partials/footer') %>
  
</body>
</html>